<?= $this->assign('title', 'Contact Us') ?>

<div class="contact row">
	<div class="small-12 columns">
	    <div class="row">
	    	<div class="small-12 columns">
			    <h2>Contact Us</h2>
	    	</div>
	    </div>
		<div class="row">
	    	<div class="small-12 columns">
			    <p>If you have any questions feel free to send us a mail at <a href="mailto:richestpeopleonearthcom@gmail.com?Subject=Help me please :(" target="_top">richestpeopleonearthcom@gmail.com</a></p>
    		</div>
    	</div>
    </div>
</div>