.home {
	min-height: 650px;

	.first {
		font-size: 1.5rem;
		color: #000;
		font-family: serif;
	}

	.resp-sharing-button__link {
		position: relative;
		animation:socialbump 2s;

		@keyframes socialbump{
		    from {
		    	right: -600px;
		    } 
		    to{
		    	right: 0px;
		    } 
		}
	}

    table {
	    margin-top: 1rem;

	    thead {
	    	color: #fff;
			background-color: #1779ba;
			animation:tableheadingcolorshift 3s;

			@keyframes tableheadingcolorshift{
			    from {
			    	color: #1779ba;
			    	background-color: #fff;
			    } 
			    to{
			    	color: #fff;
			    	background-color: #1779ba;
			    } 
			}

			th {
				text-decoration: underline;
			}
	    }
    }
}