.nopadding {
	padding: 0 !important;
}

div.message {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: bold;
	background-color: #1779ba;
	color: #fff;
    padding: 16px 0 16px 98px;
    margin: 0 0 -32px 0;
}

h2,
h3 {
	color: #1779ba !important;
}