.payment-amount {
	margin: 48px 0 370px 0;

	.large {
	    width: 100%;
	}

	[for=amount] {
		&:before {
            content: '$';
            position: relative;
            top: 32px;
		    left: 12px;
        }
	}

	[name=amount] {
	    padding-left: 24px;
	}
}